.allContainer {
    width: 90vw;
    margin: 0px auto;
    display: flex;
    vertical-align: middle;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;

    background: transparent;
    overflow-y: hidden;
    overflow: scroll;
    scroll-behavior: smooth;

}

.all_img {
    margin-left: 20px;
}

.h_heading {
    text-align: center;
    font-size: 39px;
    color: #ffffff;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 2px;
    padding: 20px;
    margin: 20px;
}

.h_box_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    min-height: 50vh;
    margin: 20px auto;
}

.movie_item_container {
    width: 19vw;
    min-height: 30vh;
    background-color: rgb(248, 248, 247);
    margin: 3px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.mi_box_text_cotainer:hover {
    background-color: rgb(201, 201, 201);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.movie_item_container>img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.mi_heading {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
}

.mi_box_text_cotainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mi_box_text_cotainer>button {
    margin: auto;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 18px;
    color: rgb(246, 16, 23);
    background-color: transparent;
}

button:hover {
    color: rgb(39, 5, 255);
}

.mi_text {
    margin-top: 20px;
    line-height: 25px;
    text-align: start;
}

@media only screen and (max-width: 912px) {
    .allContainer {
        width: 100%;
        overflow-y: hidden;
        height: 200px;
    }

    .allContainer>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1,
    .h_heading {
        font-size: 24px;
    }

    .h_box_container {
        width: 90%;
        display: block;
    }

    .movie_item_container {
        width: 95%;
        display: block;
        margin-bottom: 20px;
    }
}

/*  */
.movie_btn_view_all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.button {
    width: 300px !important;
    padding: 15px !important;
    border: 0 !important;
    outline: none !important;
    font-size: 18px !important;
    color: rgb(255, 255, 255) !important;
    background-color: blue !important;
    border-radius: 50px !important;
}

.button:hover {
    background-color: tomato;
}

a {
    text-decoration: none;
    color: inherit;
}




/*  */
.movie_btn_view_all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.button {
    width: 300px !important;
    padding: 15px !important;
    border: 0 !important;
    outline: none !important;
    font-size: 18px !important;
    color: rgb(255, 255, 255) !important;
    background-color: blue !important;
    border-radius: 50px !important;
}

.button:hover {
    background-color: tomato;
}

a {
    text-decoration: none;
    color: inherit;
}





/* Movies start*/
.movie_container {
    width: 90vw;
    margin: 30px auto;
    background-color: #dcdcdccc;
    display: flex;
    flex-direction: column;
}

.mobie_heading {
    text-align: center;
    background-color: aqua;
    width: 40%;
    padding: 15px;
    margin: 10px auto;
    color: #000;
    font-size: 39px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    border-radius: 50%;
}

.movie_box_containers {
    max-width: 100%;
    min-height: 50vh;
    background-color: #fff;
    margin-top: 12px;
    border-top: 6px solid #e50d0d;
    border-top-right-radius: 450px;
    padding: 14px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.movie_inner_box {
    width: 20%;
    height: 45vh;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 100px;
}



.movie_inner_box:hover {
    background-color: aqua;
}

.movie_inner_img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-right-radius: 100px;
}

.movie_inner_text {
    height: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie_inner_text>h3 {
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    color: #000;
}

.movie_inner_texts {
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    color: #050101;
}

.movie_inner_btn {
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    background-color: blue;
    font-weight: 700;
}

.movie_inner_btn:hover {
    color: #02ff5e;
}

@media only screen and (max-width:912px) {

    .hide_search {
        display: none;
    }

    .movie_container {
        width: 100%;
        display: block;
        flex-direction: column;
        overflow: hidden;
    }

    .mobie_heading {
        width: 90%;
        display: block;
        font-size: 22px;
    }

    .movie_box_containers {
        display: block;
        background-color: #ffffff;
        border-top-right-radius: 140px;
        border-color: #7503ff;
        flex-direction: column;
    }

    .movie_inner_box {
        width: 95%;
        display: block;
        margin: 0;
    }

    .movie_inner_img {
        width: 100%;
        display: block;
        margin: 0;
        margin-top: 20px;
    }
}